<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KryptonToolkitSuite5400" version="5.400.1251" targetFramework="net40" />
  <package id="KryptonToolkitSuite5400CoreModule" version="5.400.1254" targetFramework="net40" />
  <package id="KryptonToolkitSuite5400NavigatorModule" version="5.400.763" targetFramework="net40" />
</packages>